.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #18181b;
  padding: 0.8rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

/* LEFT */
.left-items {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.125rem;
  font-weight: 600;
}

.twitch-logo {
  height: 1.875rem;
}

.left-items a {
  color: #fff;
}

.icon {
  color: #fff;
  width: 1.1rem;
  height: 1.1rem;
  padding: 0.4rem;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.icon:hover,
.icon:active {
  background-color: var(--btn-grey);
}
/* SEARCH */

.search-bar {
  width: 100%;
  max-width: 25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: plum; */
  height: 2.25rem;
  border-radius: 0.3rem;
  margin: 0 1rem;
}

.search::placeholder {
  color: var(--hover-grey);
  font-weight: 600;
}

.search {
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  padding: 0.5rem;
  border: none;
  background: none;
  box-shadow: inset 0 0 0 1px var(--hover-grey);
  border-radius: 0.3rem 0 0 0.3rem;
}

.search:hover,
.search:active {
  box-shadow: inset 0 0 0 2px var(--hover-grey);
}

.div-search {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  height: 100%;
  background-color: var(--btn-grey);
  border-radius: 0 0.3rem 0.3rem 0;

  transition: all 0.3s ease;
}

.div-search:hover,
.div-search:active {
  background-color: var(--hover-grey);
}
.search-icon {
  height: 24px;
  width: 24px;
}

/* RIGHT */

.right-items {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.profile-img {
  width: 2rem;
  border-radius: 50%;
}

.watch {
  display: flex;
  align-items: center;
  background-color: var(--btn-grey);
  padding: 0.5rem;
  border-radius: 0.3rem;
  gap: 0.5rem;

  font-weight: 600;
  font-size: 0.8125rem;

  transition: all 0.3s ease;
}

.watch:hover,
.watch:active {
  background-color: var(--btn-hover);
}

.battery {
  width: 1.2rem;
  height: 1.2rem;
}

/* ----------- MAIN PAGE ----------- */
.main {
  display: grid;
  grid-template-columns: 16rem 1fr;
}

.left-bar {
  display: flex;
  flex-direction: column;
  background-color: var(--side-grey);
  height: 100vh;

  overflow-y: scroll;
  transition: --var1 0.5s;
}

/* LEFT BAR */
.for-you {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}
.for-you h1 {
  font-size: 18px;
  font-weight: 500;
}

.foryou-icon {
  fill: #ffffff;
}

.show-more {
  padding: 0.5rem;
  padding-bottom: 0;
  font-size: 0.75rem;

  color: var(--twitch);

  transition: all 0.3s ease;
}

.show-more:hover,
.show-more:active {
  text-decoration: underline;
}

/* CHNFOLLOW */

.channels-followed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.left-channels {
  margin-top: 0.5rem;
}

.chn-follow {
  font-size: 0.875rem;
  font-weight: 600;
}

/* STREAMER */
.streamer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.left-img {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
}

.off-img {
  filter: grayscale();
}

.streamer-name {
  font-size: 0.875rem;
  font-weight: 600;
}

.streamer-game {
  font-size: 0.8125rem;
  font-weight: 400;
  color: var(--hover-grey);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 7.5rem;
}

.on-air {
  background-color: var(--circle);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}

.views {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8125rem;
}

/* CENTER CONTENT */
.center-bar {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  height: 100vh;
  overflow-y: scroll;
  transition: --var1 0.5s;
}

.center-bar:hover,
.left-bar:hover {
  --var1: #aaa;
}

.up-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--twitch);
}

.banner-test {
  width: 100%;
}

.down-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* CENTER-TEXT */
.center-text {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.purple-text {
  color: var(--twitch);
}

.purple-text:hover,
.purple-text:active {
  color: var(--twitch);
  cursor: pointer;
  text-decoration: underline;
}

/* CHANNELS */
.live {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.7rem;
}

.channel-card {
  max-width: 19.5rem;
}

.live-img {
  margin-bottom: 0.5rem;
  position: relative;
  border-radius: 0.3rem;
  overflow: hidden;
}

.live-img::before {
  content: "AO VIVO";
  position: absolute;
  left: 0.625rem;
  top: 0.625rem;

  font-size: 0.875rem;
  font-weight: 600;

  border-radius: 0.3rem;
  padding: 0.1rem 0.4rem;
  background-color: var(--circle);

  z-index: 1;
}

.live-img::after {
  content: "3,3 mil espectadores";
  position: absolute;
  left: 0.625rem;
  bottom: 0.625rem;

  font-size: 0.8125rem;

  border-radius: 0.3rem;
  padding: 0.1rem 0.4rem;
  background-color: var(--transparent-grey);
}

.channel-img {
  width: 100%;
  display: flex;
  transition: all 0.6s ease;
}

.channel-img:hover,
.channel-img:active {
  transform: scale(1.1);
}

.channel-profile-img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}

.channel-content {
  display: flex;
}

.live-content {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  gap: 0.4rem;
}

/* TITLES */

.live-title {
  font-size: 0.875rem;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
  width: 15rem;

  transition: all 0.3s ease;
}

.live-title:hover,
.live-title:active {
  color: var(--twitch);
  cursor: pointer;
}

.game {
  transition: all 0.3s ease;
}

.game:hover,
.game:active {
  color: var(--twitch);
  cursor: pointer;
}

.title-opt {
  display: flex;
  align-items: center;
}

/* SUBTITLE */
.live-subtitle {
  color: var(--text-tag);
  font-size: 0.8125rem;
}

.categories {
  display: flex;
  gap: 0.4rem;
  flex-wrap: wrap;
  max-width: 19.625rem;
}

.live-category {
  width: fit-content;
  font-size: 0.75rem;
  color: var(--text-tag);
  font-weight: 500;
  padding: 0.2rem 0.6rem;
  background-color: var(--btn-grey);
  border-radius: 6.25rem;
}

.live-category:hover,
.live-category:active {
  background-color: var(--btn-hover);
}

/* CATEGORIES */

.categories-img {
  overflow: hidden;
  border-radius: 0.3rem;
  height: 12.625rem;
  margin-bottom: 0.5rem;
}

.category-img {
  display: flex;
  width: 100%;

  transition: all 0.6s ease;
}

.category-img:hover,
.category-img:active {
  transform: scale(1.1);
}

.category-card {
  max-width: 9.4rem;
}

.categories-content {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
